.user-details{
    border : 1px solid lightgray;
    box-shadow: 10px 10px 40px gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 450px;
}